* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    height: 200px;
    width:200px;
    /* margin: 0 auto; */
    padding-top: 50px;
    padding-left:50px;
    padding-right: 30px;
    padding-bottom: 30px;
    border: 50px solid red;
    margin-top: 200px;
    margin-left:50%;
    margin-bottom: 200px;

}