* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* div {
    height: 200px;
    width:200px;
    margin: 0 auto;
    padding-top: 50px;
    padding-left:50px;
    padding-right: 30px;
    padding-bottom: 30px;
    border: 50px solid red;
    margin-top: 200px;
    margin-left:50%;
    margin-bottom: 200px;

} */
.parent {
    height: 200px;
    width:200px;
    border: 5px solid red;
    margin: 0 auto;
    margin-bottom:1rem;
}
.child {
    height: 100px;
    width:100px;
    margin: 0 auto;
    margin-bottom:1rem;
}
.parent .child{
    border: 5px solid blue;
  
}

  /*  overwriting the classes add new property without effect parent class */
.parent.parent-two  {
    border: 5px solid yellow; 
}

/*  overwriting the classes add new property without effect parent class */
.parent-two  {
    border: 5px solid green !important; 
}



/* compound clasess */
.parent-two .child {
    border: 5px solid pink;
}

