/* universal selector */

* {
    margin:0;
    padding: 0;
}


.float {
    color: red;
    float: left;
}
.clear {
    clear: both;
}
/* selector element */
.flex {
display: flex;
/* width: 500px;*/
height: 200px;
border: 2px solid red;
/* justify-content: space-evenly; */
/* flex-wrap: wrap;
flex-direction: row; */
justify-content: center;
align-items: center;
}
.flex  div {

border: 1px solid green;

}
/* .three {
  flex-shrink: 3; 
} */

.flex-container {
    display: flex;
    width:500px;
    /* horizontally center of div */
    margin:0 auto;
    border: 2px solid green;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-container div {
 text-align: center;
    flex-basis: 30%;
    height: 90px;
    flex-grow: 1;
    background-color: rgb(237, 112, 112); 
    border: 1px solid red;
    margin:5px;
}

.flex-item-one {
    background-color: grey;
    /* flex-shrink: 1; */
    /* order: 1;  */

}
.flex-item-two {
    /* background-color: darkgrey; */
    /* flex-shrink: 2; 
    order:-1 */
 
}
.flex-item-three {
    /* background-color: rgb(237, 112, 112);  */
    /* flex-shrink: 3; */
    /* order: 2; */
}
.flex-item-four {
    /* background-color: rgb(237, 112, 112);   */
    /* flex-shrink: 3;
    order: -1; */
}


