/* universal selector */

* {
    margin:0;
    padding: 0;
}


.float {
    color: red;
    float: left;
}
.clear {
    clear: both;
}
/* selector element */
.flex {
/* float: left; */
display: flex;
flex-direction: row;
flex-wrap:wrap;
}
.flex  div {
flex-basis: 25%;
border: 1px solid red;

}
.three {
    /* flex-grow: 1; */
    border: 2px solid blue !important;
}