* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px
}
.overflow {
    width:400px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
    border: 2px solid red;
    /* justify-content: space-evenly; */
    /* line-height: 3; */
    /* overflow: hidden; */
    /* overflow-y: hidden; */
    word-break:break-all;
    /* overflow-y: hidden; */
overflow-x:scroll;
}

span {
    flex:0 0 auto;
    margin-left: 1rem;
    /* width: min-content; */
}
