* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container {
    margin: 0 auto;
    max-width:1140px;
}
.header-background {
    background-color: #212529;
    position: sticky;
    width:100%;
    top:0;
}
.logo {
    color: #ffffff;
    text-transform: capitalize;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    line-height: 1;
    padding: 1.3rem 0;
  
}

.nav-items {
    display: flex;
    margin-left: auto;
    flex-basis: auto;
    flex-wrap: wrap;
}
.nav-items .list-items {
    margin-left: 2rem;  
    list-style: none; 
}
.nav-items .list-items a{
  display: block; 
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
}

.album-jumbotron {
    /* margin: 3rem auto;*/
     /* max-width: 40%;  */
    /* text-align: center;  */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}
.album-jumbotron div {
    flex-basis: 40%;
    text-align: center;
}
 .album-jumbotron h1 {
    font-weight: 300;
    font-size: 2.5rem;
    color: rgb(33, 37, 41);
    margin-bottom: 1rem;
}
.album-jumbotron p {
    font-size: 1.25rem;
    font-weight: 300;
    color: #6c757d;
    margin-bottom: 1rem;
} 
.primary-button {
    background-color: #0d6efd;;
    padding: .4rem 1rem;
    color:#ffffff;
    font-family: cursive;
    border: 1px solid  #0d6efd;;
    border-radius: 3px;

}

.thumbnail-section {
    background-color: rgb(248, 249, 250);
    padding: 2rem 0;
}

.thumbnail-section-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.thumbnail-section-flex div {
    flex: 1 1 30%;
    height: 200px;
    margin-right:5px;
    margin-bottom: 5px;
    border:1px solid rgba(0,0,0,.125);
    border-radius: 5px;
}

