* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 8px;
}
ul {
    margin-left:50px;
}
/* unit is em 1em = 16px it is not static */
.emes li {
    /* visibility: hidden; */
    display: none;
    font-size: 2em;
}

.rems li {
    display: none;
    font-size: 1rem;
}

/* .rems li {
    font-size: 2vw;
} */

.z-one {
    position: absolute;
   width: 300px;
   height: 400px;
   margin: 0 auto;
   border:2px solid red;
   background-color: aqua;
   text-align: center;
   font-size: 16px;
   z-index: 1;
}

.z-child, .z-chid-two{
 
    width: 100px;
    height: 150px;
  
    border:2px solid yellow;

 }
 .z-chid-two{
    background-color: blue;
    position: absolute;
    z-index: 5;
    font-size: 16px;
 }
 .z-child {
    background-color: rgb(51, 255, 0);
    transform: translateY(10rem);
    position: absolute;
    z-index: 10;
    font-size: 30px;
 }

 .z-two {
     float: left;
    /* position: absolute; */
    width: 900px;
    height: 200px;
    /* margin: 0 auto; */
    /* text-align: center; */
   font-size: 16px;
    border:2px solid rgb(64, 0, 255);
    background-color: rgb(209, 86, 9);
    /* left:100px;
    z-index: 2; */
 }