* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1120px;
}

.nav-bar,
.nav-menu {
    display: flex;
    flex-wrap: wrap;
}

.nav-menu {
    margin-left: auto;

}

.nav-menu .nav-list {
    list-style: none;
    margin: 10px;
}

.nav-menu .nav-list a {
    text-decoration: none;
    display: block;
    padding: 5px;
    font-size: 18px;
    text-transform: capitalize;
    /* applying text gradient */
    background: -webkit-linear-gradient(#0c0c0c, #050505);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #050505;
    flex-direction: row;

}

.card-content {
    flex: 0 0 32%;
    min-height: 200px;
    margin: 10px 0 0 5px;
    border: 1px solid red;

}

.adress {
    display: flex;
    flex-direction: column;
}

.responsivediv {
    height: 150px;
    width: 150px;
    display: flex;
    justify-self: center;


}

.responsiveimg {
    max-width: 100%;
    max-height: 100%;
}
.alert-block {
    display: flex;
    justify-content: center;
}
.alert-meesage {
    width: 50%;
    border: 1px solid rgb(165, 7, 7);
    padding: .2rem;
}

.product-section {
    display: grid;
    justify-content: center;   
}

#productForm {
    display: grid;
    grid-gap : 20px;
    grid-template-columns : repeat(1, 1fr);
    grid-template-rows    : 1em 1em 1em 1em;
    padding: 1em;
    box-sizing: border-box;
    background :  #cecece;
}