* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c5d5cb;
}

.container {
    margin: 0 auto;
    max-width: 1120px;
}

.nav-bar,
.nav-menu {
    display: flex;
    flex-wrap: wrap;
}

.nav-menu {
    margin-left: auto;

}

.nav-menu .nav-list {
    list-style: none;
    margin: 10px;
}

.nav-menu .nav-list a {
    text-decoration: none;
    display: block;
    padding: 5px;
    font-size: 18px;
    text-transform: capitalize;
    /* applying text gradient */
    background: -webkit-linear-gradient(#0c0c0c, #050505);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid #050505; */
    flex-direction: row;
    padding-left: 5px;


}

.card-content {
    flex: 1 1 auto;
    min-height: 200px;
    margin: 10px 0 0 5px;
    /* border: 1px solid red; */
    background-color: #9fa8a3;
    padding: .75rem;
    border-radius: 5px;

}

.adress {
    display: flex;
    flex-direction: column;
}

.deleteitem {
    width: 5rem;
    padding: .5rem;
    margin-right: 1rem;
    background: transparent;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
}

.responsivediv {
    height: 150px;
    /* width: 150px;
    display: flex;
    justify-content: center;    */
    text-align: center;


}

.responsiveimg {
    max-width: 100%;
    max-height: 100%;
}

.alert-block {
    display: flex;
    justify-content: space-between;
    opacity: 1;
    transition: opacity 0.6s;
    width: 50%;
    color: white;
    padding: 1rem;
    background-color: #f44336;
    transform: translateX(50%);
    /* transition: font-size 10s ease-in; 

    animation: 10s ease-in-out 0s infinite alternate slide; */
}

.alert-close {
    opacity: 1;
    transition: opacity 0.6s;
    /* display: none; */
}

.closebtn {
    color: white;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 10px;
}

.closebtn:hover {
    color: black;
}



/* #productForm {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1em 1em 1em 1em;
    padding: 1em;
    box-sizing: border-box;
    background: #cecece;
} */

.custom-inner {
    display: flex;
    justify-content: space-around;
    background-color: #e3e0cf;
}

.custom-item-width {
    max-width: 100% !important;
    max-height: 100%;
}

.carousel-item {
    height: 22rem;
    /* display: block !important; */
    /* width: 22rem;; */
    /* transform: translateX(40%) */
    /* text-align: center; */
    /* display: flex; */


}

.d-block {
    display: block !important;
}